
* {
  box-sizing: border-box;
}
.wrapper {
  width: 1290px;
  margin: 0 auto;
  border: 2px solid black
}

.wrapper > div {
  border: 0px solid white;
  border-radius: 0px;
  padding: 0;
  color: black;  
}

.footerinfo {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  background-color: aqua;
}
.footertext {
  grid-column: 2;
}

.original-surfer-regular {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Templates for different sections*/

.residents_2col {
  display: grid;
  grid-template-columns: 612px 62px 612px;
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  font-family: Helvetica;
  row-gap: 20px;
}

.residents_2col > div {
  border: 1px solid black;
  border-radius: 0px;
  background-color: white ;
  padding: 0;
  color: black;
}

.residents_jobs {
  display: grid;
  grid-template-columns: 280px 26px 980px;
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  font-family: Helvetica;
}

.residents_jobs > div {
  border: 1px solid black;
  border-radius: 0px;
  padding: 0;
  color: black;
}

.mining_content {
  display: grid;
  grid-template-columns: 482px 62px 742px;
  gap: 0px;
  font-family:Helvetica;
}

.mining_content > div {
  border: 1px solid black;
  border-radius: 0px;
  background-color: white ;
  padding: 0;
  color: black;
}

.tourism_content {
  display: grid;
  grid-template-columns: 482px 62px 742px;
  gap: 0px;
  font-family:Helvetica;
}

.tourism_content > div {
  border: 1px solid black;
  border-radius: 0px;
  background-color: white ;
  padding: 0;
  color: black;
}

.mining_tourism_header {
  display: grid;
  grid-template-columns: 260px 1fr 270px;
  gap: 0px;
  background-color: aquamarine;
}

/*Sections*/

/*Tourism*/
.tourism_map {
  grid-column: 1;
  grid-row: 1;
}
.tourism_numbers_line {
  grid-column: 3;
  grid-row: 1/3;
}

/*Mining*/
.mining_map {
  grid-column: 1;
  grid-row: 1;
}
.mining_jobs_bar {
  grid-column: 3;
  grid-row:1;
}

/*Word cloud*/
.words_cloud {
  grid-column: 1;
  grid-row: 2/4;
  place-items: center;
}
.words_text_A {
  grid-column: 1;
  grid-row: 1;
}
.words_text_B {
  grid-column: 3;
  grid-row: 3;
}
.words_bar {
  grid-column: 3;
  grid-row: 2;
  place-items: center;
}
.word_cloud_description{
  grid-column: 1;
  grid-row: 4;
}



/*Miing and Tourism Headings*/
.mining_tourism_header_heading {
  grid-column: 1;
  grid-row: 1;
}
.mining_tourism_header_donut {
  grid-column: 3;
  grid-row: 1;
}
.mining_tourism_header_text {
  grid-column: 2;
  grid-row: 1;
  font-family:Helvetica;
}

.jobs_text {
  grid-column: 1;
  grid-row: 1;
}
.jobs_bar {
  grid-column: 3;
  grid-row: 1
}

.intro_map {
  grid-column: 3;
  grid-row: 1/3;
}
.intro_text {
  grid-column: 1;
  grid-row: 1;
  height: 180px;
}
.intro_aust_map {
  grid-column: 1;
  grid-row: 2;
}

.values_text {
  grid-column: 1;
  grid-row: 1;
}
.values_heatmap {
  grid-column: 1;
  grid-row: 2;
}
.values_histogram {
  grid-column: 3;
  grid-row: 1/3;
}

