
* {
  box-sizing: border-box;
}
.wrapper {
  max-width: 1290px;
  margin: 0 auto;
  border: 2px solid black
}

.wrapper > div {
  border: 0px solid white;
  border-radius: 0px;
  background-color: white;
  padding: 0;
  color: black;  
}

.footerinfo {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  background-color: aqua;
}
.footertext {
  grid-column: 2;
}

.original-surfer-regular {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Templates for different sections*/

.residents_2col {
  display: grid;
  grid-template-columns: 610px 70px 610px;
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  font-family: Helvetica;
}

.residents_3col {
  display: grid;
  grid-template-columns: 195px 285px 310px 285px 195px;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  font-family: Helvetica;
  background-color: aqua;
}

.mining_tourism_3col {
  display: grid;
  grid-template-columns: 200px 400px 1fr 200px 400px;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  font-family: Helvetica;
}

.mining_tourism_header {
  display: grid;
  grid-template-columns: 500px 610px;
  gap: 10px
}

/*Sections*/

/*Word cloud*/
.words_cloud {
  display: grid;
  grid-column: 1;
  grid-row: 2/4;
  place-items: center;
}
.words_text_A {
  grid-column: 1;
  grid-row: 1;
}
.words_text_B {
  grid-column: 3;
  grid-row: 3;
}
.words_bar {
  display: grid;
  grid-column: 3;
  grid-row: 2;
  place-items: center;
}




.mining_tourism_header_heading {
  grid-column: 1;
  grid-row: 1;
}
.mining_tourism_header_text {
  grid-column: 2;
  grid-row: 1;
  column-count: 2;
}

.mining_text {
  grid-column: 1;
  grid-row: 2;
}
.mining_pie {
  grid-column: 1;
  grid-row: 1;
}
.mining_map {
  grid-column: 2;
  grid-row: 1;
}
.tourism_pie {
  grid-column: 4;
  grid-row: 1;
}
.tourism_map {
  grid-column: 5;
  grid-row: 1;
}

.residents_jobs {
  display: grid;
  grid-template-columns: 310px 70px 910px;
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  font-family: Helvetica;
}

.jobs_text {
  grid-column: 1;
  grid-row: 1;
}
.jobs_bar {
  grid-column: 3;
  grid-row: 1
}

.residents_3col > div {
  border: 0px solid white;
  border-radius: 0px;
  padding: 0;
  color: black;
}

.residents_2col > div {
  border: 0px solid white;
  border-radius: 0px;
  background-color: white ;
  padding: 0;
  color: black;
}

.intro_map {
  grid-column: 3;
  grid-row: 1/3;
}
.intro_text {
  grid-column: 1;
  grid-row: 1;
  height: 180px;
}
.intro_aust_map {
  grid-column: 1;
  grid-row: 2;
}

.values_text {
  grid-column: 1;
  grid-row: 1;
}
.values_heatmap {
  grid-column: 1;
  grid-row: 2;
}
.values_histogram {
  grid-column: 3;
  grid-row: 1/3;
}

